<div class="contenedor">
    <h4 class="text-center mt-5">¡Enviamos Tu Noticia!</h4>
    <p class="text-center px-2">¿Crees tener informacion impoortante que necesite ser publicada?</p>

    <div class="subcontenedor1 px-4">
        <div class="row">
            <div class="col">
                <label><b>Asunto</b></label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control"
                 placeholder="Noticia....">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label><b>Descripcion de los sucesos</b></label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea cols="30" rows="7" class="form-control" placeholder="Describe lo que paso...."></textarea>
        </div>
    </div>
    <div class="row mt-2 px-3">
        <div class="col form-check">
            <input type="checkbox" class="form-check-input">
            <label>Autorizo al peridiodico de usar mi noticia</label>
        </div>
    </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                      </svg>
                    Enviar</button>
            </div>
        </div>
    </div>
</div>