<div class="contenedor w-100">
<div class="subcontenedor mx-3 ">
    
    <h3 class="text-center my-3">Wellcome to CSMA Site</h3>
    <img class="" src="https://csma.phidias.co/interface/xhtml/img/label.png" width="100%">
    <p style="text-align: justify;">Este perdiodico digital es una iniciativa por grado undecimo de la promocion 2023 con el fin de informar de forma inmedianta a toda la comunidad mateista a travez de medios digitales como el celular y naveegadores web, el aplicativo esta enfocado pricipalmente a celulares versiones iguales o superiores al modelo Iphone X. </p>
    <b>Conformado por: </b>
    <code>Neyder Neme (Docente) y Juan Barragan</code>

</div>
</div>
